h1 {
  font-size: 52px;
  color: rgb(71, 62, 62);
  margin: 0px;
}

p {
  font-family: sans-serif;
  margin: 4px 8px 4px 8px;
}

a {
  font-family: "Fira Sans", "sans-serif";
  text-decoration: none;
  color: rgb(167, 1, 78);
}

body {
  text-align: center;
  background-color: rgb(233, 215, 207);
  margin: 10px;
}

li {
  list-style-type: none;
}
